.body{
    width: 1440px;
    background-color: #F7F7F7;
}
.header-img{
    height: 900px;
    background: url(../images/header-image.png);
    background-repeat: no-repeat;
    position: relative;
}
.nav-ul{
    display: flex;
    position: absolute;
    top: 30px;
    right: 130px;
    font-size: 12px;
    line-height: 16px;
}
.nav-li{
    margin-left: 30px;
}
.nav-li a{
    color: #FFFFFF;
}
.header-text p{
    font-size: 30px;
    line-height: 40px;
    width: 760px;
    padding-left: 180px;
    position: absolute;
    top: 770px;
    color: #FFFFFF;
    letter-spacing: 3px;
}
.line::after{
    content: '';
    display: inline-block;
	width: 1px;
	height: 15px;
    background-color: #FFFFFF;
    margin-left:30px;
}
.top-article{
    margin-top: 75px;
    padding-left: 180px;
    width: 1000px;
}
.top-article h2{
    font-size: 33px;
    line-height: 48px;
    color: #262626;
    margin-bottom: 65px;
}
.top-article p{
    font-size: 25px;
    color: #434343;
}
.articles{
    box-shadow: #707070 0px 3px 8px;
    border-radius: 6px;
    background-color: #FFFFFF;
    height: 630px;
    margin: 90px 90px 0px 90px;
    width: 1200px;
}
.articles article{
    padding-left: 90px;
    padding-top: 60px;
    width: 1000px;
}
.article h2{
    font-size: 25px;
    line-height: 33px;
    color: #262626;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.article1 .text{
    margin-bottom: 35px;
}
.article p{
    font-size: 18px;
    line-height: 33px;
    color: #434343;
    padding-right: 170px;
    width: 1000px;
}
.middle-content img{
    padding-left: 90px;
    width: 1290px;
    height: 556px;
    margin-bottom: 90px;
}
.middle-content-articles{
    padding-left: 180px;
    width: 1000px;
    margin-bottom: 90px;
}
.middle-content-articles article{
    margin-bottom: 60px;
}